.modal-dialog-full-width {
 width: 100% !important;
 height: 100% !important;
 margin: 0 !important;
 padding: 0 !important;
 max-width:none !important;

}
.close{
 font-size: 50px;
}
.modal-content-full-width  {
 height: auto !important;
 min-height: 100% !important;
 border-radius: 0 !important;
}
#SIGNUP-PAGE{
 animation: fadeInAnimation1 ease 3s ;
 animation-fill-mode: forwards; 
 
}
#LOGIN-PAGE{ 
 animation: fadeInAnimation ease 3s ;
 animation-fill-mode: forwards; 
} 
#newsletter{
    box-shadow: none;
}
#cont1{
    margin-top: -5%;
}

@keyframes fadeInAnimation { 
 0% { 
     opacity: 0; 
 } 
 100% { 
     opacity: 1; 
  } 
}
@keyframes fadeInAnimation1 { 
 0% { 
     opacity: 0; 
 } 
 100% { 
     opacity: 1; 
  } 
} 
#apps img{
 height: 50px;
 
}

#welcome {
 height: 100px;
}
#carousel-example-1z img {
 height: 300px;
 margin-left: 23%;
}

#carousel-example-1z p {
 padding-left: 80px;
 padding-right: 80px;
}

#carousel-example-1z li {
 border-radius: 100%;
 width: 15px;
 height: 15px;
 background-color: blue;
 margin-right: 20px;
 position: relative;
 top:50px;
}

#loginheader,
#signupheader {
    margin-top: 10%;
    font-size: 50px;
   }
   #loginheader{
    margin-bottom: 10%;
    
}

#apps img {
 margin-right: 10px;
 margin-left: 10px;
}
.signupContainer {
 height: 100vh;
 width: 100wh;
 background-image: url("../../assets/LoginSignupImages/Bg.png");
 background-size: 100vw 100vh;
 background-repeat: no-repeat;
}
.loginContainer {
 height: 100vh;
 width: 100vw;
 background-image: url("../../assets/LoginSignupImages/Signupbackground.png");
 background-size: 100vw 100vh;
 background-repeat: no-repeat;
}
 #unameicon{
  position: relative;
  top:40px;
  left:40px;
  float: right;
 }
 #pwdicon{
  position: relative;
  top:120px;
  right:220px 
 
 }
 #inp1 input,#inp2 input,#inp3 input,#inp1white input,#inp2white input,#inp3white input,#inplog input{
    
  border-radius: 100px;
  text-align: center;
 }
 ::placeholder{
  text-align: center;
 }
 #inp1 input,#inp1white input{
  border-top: 2px solid black;
  border-top-left-radius: 0px;
  border-right: 2px solid black;
  height: 60px;
  background: transparent;
  border-left: transparent;
  border-bottom: transparent;
  
 }
 .white{
  color: white;
 }
 #inp1white input
 {
  border-top: 2px solid white;
  border-right:2px solid white;
 }
 #inp2 input,#inp2white input,#inplog input
 {
  background: transparent;
  width:97%;
  margin-left: -10px;
  height: 60px;;
  margin-top: -2px;
  border-top-right-radius: 0px;
  border-top: 2px solid black;
  border-left:2px solid black;
  border-right: transparent;
  border-bottom: transparent;
 }
 #inplog input{
     border-bottom:2px solid black ;
     border-bottom-right-radius: 0px;
 }
 #inp2white input
 {
  border-top: 2px solid white;
  border-left:2px solid white;
  
 }
 .hide
 {
     display: none;
 }
 #inp3 input,#inp3white input
 {background: transparent;
  height: 60px;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-top-left-radius: 0px;
  padding-right: 50px;
  margin-top: -3px;
  border-left: transparent;
  margin-left: 5px;
  width:100%;
  border-bottom-left-radius:0px ;
 }
 #inp3white input{
  border-top: 2px solid white;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
 }
 #LOGIN-PAGE input:focus,#SIGNUP-PAGE input:focus{
       text-align: center;
 }
 #SIGNUP-PAGE input{
     color:white;
 } 
 #SIGNUP-PAGE ::placeholder{
  color: white;
 }
 
 .border-black{
  border: 2px solid black;
  
  border-radius: 100px;
  
 }
 .border-black:hover{
  background-color: black;
  color: white;
  transition: ease-in-out 0.5s;
  
 }
 #loginsubmit{
     font-weight: bold;
 } 
 #loginsubmit:hover{
     color: whitesmoke;
     background-color: rgb(199, 37, 199);
     border: 2px solid rgb(199, 37, 199);
 }
 .border-white{
  border: 2px solid white;
  border-radius: 100px;
 }
 .border-white:hover{
  background-color: white;
  color: black;
  transition: ease-in-out 0.5s;
 }
 
 #loginbtn:hover{
  background-color: white;
  color: black;
  transition: ease-in-out 0.5s;
 }
 #logologin{
     height: 70px;
 }
 
 
 @media screen  and (max-width: 500px) {
     #cont1{
         margin-top: -20%;
     }
     .hide{
         display: block;
     }

     #logologin{
        height: 45px;
    }
  .signupContainer {
   height: 100vh;
   width: 100vw;
   background-image: url("../../assets/LoginSignupImages/Loginmobile.png");
   background-size: 100vw 100vh;
   background-repeat: no-repeat;
}
.loginContainer {
   height: 100vh;
   width: 100vw;
   background-image: url("../../assets/LoginSignupImages/SignUpmobile.png");
   background-size: 100vw 100vh;
   background-repeat: no-repeat;
}
#loginheader,
#signupheader {
    margin-top: 15%;
    font-size: 30px;
    
}
#unameicon{
 position: relative;
 top:40px;
 left:35px;
 float: right;  
}

#pwdicon{
 position: relative;
 top:110px;
 right:55%;
z-index: 1000;
}

#apps img{
 height: 25px;
 /* margin-left: 10px;
 margin-right: 10px; */
}
#fb-icon,#gog-icon
{
    max-height: 35px;
}
#conn{
    font-size: 12px;
}
}
 
@media screen and (max-width:359px)
 {
     #fb-icon,#gog-icon
     {
         height: 2vh;
     }
     #conn{
         font-size: 2vw;
     }
     
 }

 
 @media screen and (width: 768px) and (height:1024px) {
    #logologin{
        height: 35px;
    }
   
  #formcontainer{
   margin-top: -20px;
  }
  #pwdicon{
   position: relative;
   top:120px;
   right:60%;
   z-index: 1000;
  }
  #apps img{
   height: 20px;
  }
  #carousel-example-1z li{
   position: relative;
   top:50px;
  }
  #carousel-example-1z img{
   height: 200px;
  }
 #conn{
  display: none;

 }
 #loginheader,
#signupheader {
    margin-top: 20%;
    font-size: 35px;
    margin-bottom: 20%;
}
#carousel-example-1z img {
 height: 200px;
 margin-left: 23%;
}
#carousel-example-1z p {
 padding-left: 80px;
 padding-right: 80px;
 font-size: 10px;
}
#welcome{
 height: 70px;
}
 }
 @media screen and (width: 1024px) and (height:1366px) 
 {
    #logologin{
        height: 50px;
    }
  #formcontainer{
   margin-top: -50px;
  }
  #loginheader,
  #signupheader {
      font-size: 35px;
      margin-bottom: 25%;
      margin-top: 20%;
  }
  #carousel-example-1z img {
   height: 200px;
   margin-left: 23%;
  }
  #carousel-example-1z p {
   padding-left: 80px;
   padding-right: 80px; 
   font-size: 10px;
  }
  #welcome{
   height: 70px;
  }
  #pwdicon{
   position: relative;
   top:70px;
   right:60%;
   z-index: 1000;
  }
  #apps img{
      height: 25px;
  }
  #fb-icon,#gog-icon
     {
         height: 35px;
     }
     #conn{
         font-size: 15px;
     }
     
 }
 @media screen and (min-width: 800px) and (max-width:1500px){
     
  #formcontainer{
   margin-top: -50px;
  }
  #loginheader,
  #signupheader {
      font-size: 35px;
  }
  #carousel-example-1z img {
   height: 200px;
   margin-left: 23%;
  }
  #carousel-example-1z p {
   padding-left: 80px;
   padding-right: 80px; 
   font-size: 10px;
  }
  #carousel-example-1z li{
   position: relative;
   top:50px;
  }
  #pwdicon{
   position: relative;
   top:70px;
   right:50%;
   z-index: 1000;
  }
 }
